.active {
  background-color: red;
  width: 70px;
  border-radius: 100px;
  padding: 5px;
  border: 1px solid green;
}
.in-active {
  background-color: transparent;
  width: 70px;
  border-radius: 100px;
  padding: 5px;
  border: 2px solid rgb(96, 186, 228);
}
