.bg-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  width: 70%;
  padding: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.d-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.label {
  font-family: 'roboto';
  font-size: 18px;
  color: #302623;
  margin-right: 5px;
  margin-left: 5px;
}
.input {
  width: 100%;
  margin-right: 5px;
  padding-left: 10px;
  height: 35px;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.head {
  font-family: 'roboto';
  font-size: 35px;
  color: #302623;
  text-align: center;
}

.reg-btn {
  background-color: #4169e1;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
